body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #516668;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #6a5f5c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Add styles for buttons */
.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.sub-sections button 
{
    color: #fff; /* Change the color as needed */
    background-color: inherit; /* Inherit background color from parent section */
    border-radius: 5px;
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.container h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.container p {
    line-height: 1.5;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header img {
    border-radius: 50%;
    max-width: 150px;
}

.contact-info p a {
    color: black;
}

.header-info {
    margin-top: 20px;
}

section:not(:first-child) {
    margin-top: 40px;
}

section:last-child {
    margin-bottom: 40px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
